<h2>Login</h2>
<a href="/">Back to home</a>
<div>

  <label for="email">Your email address?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Your safe word?</label>
  <input name="password" type="password"/>
  <br/>

  <button id="submitLogin">submit</button>
</div>
