<h2>Signup</h2>
<div>

  <label for="name">What's your name?</label>
  <input name="name" type="text"/>
  <br/>

  <label for="email">What's your email?</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Choose a Password</label>
  <input name="password" type="password"/>
  <br/>

  <button id="submitSignup">Submit</button>
</div>
